body {
  width: 100%;
  height: 100%;
  background-color: #c1ccac;
  display: flex;
}
.calculator {
  width: 390px; /* Ajusta según tus necesidades */
  padding: 40px;
  background-color: #1e201e;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Sombra para efecto 3D */
}

.display-container {
  width: 100%;
  padding: 15px;
  font-size: 2em;
  text-align: right;
  background: #2e2e2e;
  color: #fff;
  margin-bottom: 20px;
  border-radius: 5px;
}

.controls-row {
  display: flex;
  justify-content: start;
  gap: 10px;
  width: 100%;
  margin-bottom: 10px;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Cuatro columnas */
  grid-gap: 10px;
  width: 100%;
}

.numbers-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.operations-row {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  grid-gap: 10px;
}
