.button {
  width: 80px;
  height: 65px;
  background-color: #4c4c4c;
  margin: 5px;
  font-size: 20px;
  color: #ededed;
  cursor: pointer;
}

.button:hover {
  background-color: #84745b;
  border: none;
}

.button.active {
  background-color: #84745b; /* Color cuando el botón está activo */
}
