.button {
  width: 80px;
  height: 65px;
  margin: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  filter: brightness(0.8);
}

.button.active {
  filter: brightness(0.8);
}
